@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,700;1,300&display=swap');

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html {
   margin: 0;
}

body {
   margin: 0 auto;
   font-family: 'Raleway', sans-serif;
   padding: 0;
}

button {
   font-weight: bold;
}

/* #wrapper {
   min-height: calc(100vh - 240px);
   padding: 0 50px;
} */

section, .top, .container, .footer {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 50px;
}

h1, h2, h3, h4, div, section, header, img {
   margin: 0;
   padding: 0;
}

h2 {
   font-size: 1.4em;
}

strong {
   font-weight: 600;
   padding: 0;
   margin: 0;
}

.accommodations-card, .popular-card, .activities-card {
   box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------
Top / Navigation section 
--------------------------------------------- */

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   text-decoration: none;
   text-transform: capitalize;
}

header h1 {
   flex-grow: 3;
   order: 0;
}

.sign-up {
   order: 1;
}

nav ul {
   margin: 0;
   list-style: none;
   display: flex;
}

header nav a, header a {
   display: inline-block;
   border-top: 5px solid white;
   padding:  50px 20px;
}

header a {
   padding-right: 0;
}

header a:hover, .selected {
   border-top: 3px solid #0065FC;
}

/* ---------------------------------------------
   Search section 
--------------------------------------------- */
.search form {
   display: flex;
   height: 50px;
   padding-left: 3px;
   margin: 0 0 30px 0;
}

.search h2, .search p {
   padding-left: 3px;
}

.search-icon {
   display: flex;
   align-items: center;
   padding: 0 19.5px;
   background-color: #F2F2F2;
   border-radius: 15px 0 0 15px;
}

.search-icon .fas {
   color: black;
}

.search input {
   margin: 0;
   border: 1px solid #F2F2F2;
   padding: 0 18px;
   font-weight: bold;
}

.search-btn-txt {
   margin: 0;
   padding: 0 18px;
   text-align: center;
   border: none;
   background-color: #0065FC;
   border-radius: 0 15px 15px 0;
   color: white;
}

.search-btn-icon {
   display: none;
}

/* ---------------------------------------------
Filter section 
--------------------------------------------- */

.filters {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding-left: 60px;
   margin-bottom: 30px; 
}

.filters h3 {
   margin: 0 10px 10px 0;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

.filters-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 2px solid #F2F2F2;
   border-radius: 30px;
   padding: 0 20px 0 0;
   margin: 0 10px 10px 0;
   transition: background-color .2s ease-out;
}

button.filters-btn:hover {
   transition: background-color .2s ease-in;
   background-color: #DEEBFF;
}

.filters-btn .fas {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #DEEBFF;
   height: 3em;
   width: 3em;
   border-radius: 50%;
   margin-right: 15px;
   color: #0065FC;
}

/* ---------------------------------------------
Notification section 
--------------------------------------------- */

.notification {
   display: flex;
   align-items: start;
   padding-left: 56px;
   margin-bottom: 20px;
}

.notification h6 {
   margin: 0;
   padding: 4px;
   max-width: 400px;
   font-size: 1rem;
   font-weight: normal;
}

.fa-info {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   border: 2px solid #F2F2F2;
   color: #0065FC;
   font-size: 11px;
   border-radius: 50%;
   margin-right: 10px;
}

/* ---------------------------------------------
Main section 
--------------------------------------------- */

main {
   display: flex;
}

.graybg {
   background-color: #F2F2F2;
   border-radius: 15px;
   padding: 40px;
   /* display: flex; */
   margin-bottom: 65px;
}

.card-link {
   text-decoration: none;
   color: black;
}

.card-link:hover {
   color: #0065FC;
}

.rating {
   font-size: .6em;
   color: #0065FC;
   margin: 0;
}

.rating-gray .fa-star {
   color: lightgray; /* official gray from documentation is #F2F2F2, but I find the contrast terrible so I am using CSS lightgray instead */
}

/* ---------------------------------------------
Main section - Accommodations Container
--------------------------------------------- */
.accommodations-container {
   flex-grow: 4;
   margin-right: 40px;
}

.accommodations-container h2 {
   margin-bottom: 30px
}

.accommodations-container h3 {
   margin-top: 13px;
}

.accommodations-cards-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   /* gap: 30px; */
}

.accommodations-card {
   display: flex;
   flex-direction: column;
   width: 246px;
   border-radius: 15px;
   margin-bottom: 30px;
   border: 5px solid #ffffff;
}

.accommodations-card-header img {
   width: 100%;
   height: 113px;
   object-fit: cover;
   border-radius: 15px 15px 0 0;   
}

.accommodations-card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px 17px;
   height: 80px;
   background-color: #ffffff;
}

.accommodations-card-body p {
   margin: 0;
}

/* ---------------------------------------------
Main section - Popular Container
--------------------------------------------- */

.popular-card-container {
   flex-grow: 2;
   /* max-width: 420px; */
}

.popular-card-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}

.popular-card {
   display: flex;
   max-width: 344px;
   margin-bottom: 30px;
   border-radius: 15px;
}

.popular-card-header {
   width: 132px;
   height: 144px;
}

.popular-card-header img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px 0 0 15px;
   border: 5px solid white;   
}

.popular-card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 211px;
   background-color: white;
   padding: 20px;
   border-radius: 0 15px 15px 0;
}

.fa-chart-line {
   font-size: 1.2em;
}

/* ---------------------------------------------
Main section - Popular Container
--------------------------------------------- */

.activities-container {
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   margin-top: 27px;
}
.activities-card {
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   width: 302px;
   background-color: white;
   margin: 0 0 30px 0;
}

.column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.img-size-1 {
   height: 395px;
}

.img-size-2 {
   height: 200px;
}

.img-size-3 {
   height: 100px;
}

.img-size-4 {
   height: 150px;
}

.activities-card-header img {
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.activities-card-body {
   background-color: white;
   border-radius: 0 0 15px 15px;
   height: 55px;
   padding: 19px; 
}

/* ---------------------------------------------
Footer section
--------------------------------------------- */

footer {
   background-color: #F2F2F2;
   padding: 35px 0 50px 0;
   margin: 60px 0 0 0;
}

.footer {
   display: flex;
   text-transform: capitalize;
}

.footer-col {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

footer h5 {
   margin: 26px 0 10px 0; 
}

footer a {
   font-size: .8em;
   line-height: 2;
   text-decoration: none;
   color: black
}

/* ---------------------------------------------
Media queries
--------------------------------------------- */

@media (max-width: 885px) {
   
   section {
      padding: 0;
      margin: 0;
   }
   
   /* top navigation part */
   .top {
      padding: 0;
   }
    
   .container {
      padding: 0;
      margin: 0;
   }
   
   header {
      display: block;
   }
   
   header img {
      padding: 30px 20px;
      float: left;
   }
   
   .sign-up {
      display: block;
      padding: 45px 20px 0;
      float: right;
      border: 0;
   }
   
   header ::after {
      clear: both;
   }
   
   
   nav ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 0;
      margin-bottom: 30px;
   }
   
   nav ul li {
      width: 100%;
      text-align: center;
   }
   
   header nav a, header a {
      display: block;
      /* border-top: revert; */
      padding: 20px 0;
   }
   
   header a {
      padding-right: 0;
      border-bottom: 3px solid #F2F2F2;
   }
   
   ul li {
      padding: 0;
   }
   
   header a:hover , .selected {
      border-top: 3px solid white; 
      border-bottom: 3px solid #0065FC;
   }
   
   .search {
      padding-left: 20px;
   }
   
   .search-btn-txt {
      display: none;
   }
   
   .search-btn-icon {
      display: block;
      margin: 0;
      padding: 0 18px;
      text-align: center;
      border: none;
      background-color: #0065FC;
      border-radius: 15px;
      color: white;
      margin-left: -15px;
   }

   .filters {
      /* display: revert; */
      padding-left: 20px;
   }
   
   .notification {
      padding-left: 20px;
   }
   
   /* ----------------------
   accommodation section 
   ---------------------- */
   
   main {
      display: flex;
      flex-direction: column-reverse;
   }
   
   .graybg {
      background-color: #F2F2F2;
      border-radius: 0;
      padding: 40px 20px;
      /* display: flex; */
      margin-bottom: 0;
   }
   
   .accommodations-container {
      flex-grow: 0;
      margin-right: 0;
      background-color: white;
   }
   
   .accommodations-container h3 {
      margin-top: 13px;
   }
   
   .accommodations-cards-container {
      display: flex;
      flex-direction: column;
   }
   
   .accommodations-card {
      margin: 0 auto 30px auto;
      max-width: 344px;
      width: 100%;
   }  
   
   .activities-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
   
   .activities-card {
      margin: 0 auto 30px;
      max-width: 344px;
      width: 100%;
   }
   
   .img-size-1, .img-size-2, .img-size-3, .img-size-4 {
      height: 150px;
   }
   
   .popular-card {
      margin: 0 auto 20px auto;
   }
   
   .popular-card-container {
      flex-grow: 0;
      /* max-width: 420px; */
   }
   
   .activities {
      padding: 20px;
   }
   
   /* ----------------------
   footer section 
   ---------------------- */
   
   footer {
      padding-left: 0;
      padding-bottom: 30px;
   }
}

@media screen and (max-width: 685px) {
   .footer {
      flex-direction: column;
      justify-content: flex-start;
   } 
}