@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

button {
    font-weight: bold;
}


#wrapper {
    min-height: calc(100vh - 240px);
    padding: 0 50px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.4em;
}

strong {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------
Top / Navigation section 
--------------------------------------------- */

.top {
    /* padding-top: 50px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    display: flex;
    align-items: center;
    
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #0065fc;
    padding: 10px
}

nav a:hover {
    border-top: 5px solid #0065FC;
}

/* ---------------------------------------------
    Search section 
--------------------------------------------- */
.search form {
    display: flex;
    height: 50px;
    margin: 0 0 30px 0;
}

.search-icon {
    display: flex;
    align-items: center;
    padding: 0 19.5px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.search-icon .fas {
    color: black;
}

.search input {
    margin: 0;
    border: 1px solid #F2F2F2;
    padding: 0 18px;
    font-weight: bold;
}

.search button {
    margin: 0;
    padding: 0 18px;
    text-align: center;
    border: none;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
}

/* ---------------------------------------------
Filter section 
--------------------------------------------- */

.filters {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-bottom: 20px; 
}

.filters-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding: 0 20px 0 0;
    margin-left: 10px;
}

.filters-btn .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 15px;
    color: #0065FC;
}

/* ---------------------------------------------
Notification section 
--------------------------------------------- */

.notification {
    display: flex;
    align-items: start;
}

.notification p {
    margin: 0;
    padding: 4px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    color: #0065FC;
    font-size: .8em;
    border-radius: 50%;
    margin-right: 10px;
}

/* ---------------------------------------------
Main section 
--------------------------------------------- */

main {
    display: flex;
}

.graybg {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 40px;
    /* display: flex; */
}

/* ---------------------------------------------
Main section - Accommodations Container
--------------------------------------------- */
.accommodations-container {
    flex-grow: 4;
    margin-right: 10px;
    max-width: 880px;
}

.accommodations-container h2 {
    margin-bottom: 30px
}

.accommodations-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accommodations-card {
    background-color: white;
    width: 246px;
    /* padding: 5px; */
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem darkgray);
    margin-bottom: 20px;
    border: 5px solid white;
}

.accommodations-card-header img {
    width: 100%;
    height: 113px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;   
}

.accommodations-card-body {
    padding: 10px 17px;
    height: 80px;
}

.accommodations-card-body p {
    margin: 8px 0;
}

.rating {
    font-size: .6em;
    color: #0065FC;
    margin: 0;
}

.rating-gray .fa-star {
    color: #F2F2F2;
}

/* ---------------------------------------------
Main section - Popular Container
--------------------------------------------- */

.popular-card-container {
    flex-grow: 2;
    max-width: 420px;
}

.popular-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.popular-card {
    display: flex;
}

.popular-card {
    margin-bottom: 20px;
}

.popular-card-header {
    width: 132px;
    height: 144px;
}

.popular-card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    border: 5px solid white;   
}

.popular-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 211px;
    background-color: white;
    padding: 20px;
    border-radius: 0 15px 15px 0;
}

.fa-chart-line {
    font-size: 1.2em;
}

/* ---------------------------------------------
Footer section
--------------------------------------------- */

footer {
    background-color: #F2F2F2;
    padding: 50px;
}

.footer {
    display: flex;
    text-transform: capitalize;
}

.footer-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer a {
    font-size: .8em;
    line-height: 2;
    text-decoration: none;
    color: black
}