@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300&display=swap');

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    
}

#wrapper {
    min-height: calc(100vh - 190px);
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1, h2, h3, h4 {
    margin: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #0065fc;
}

.filters {
    display: flex;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 3em; */
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    font-weight: bold;
    padding: 0 20px 0 0;
    margin-left: 10px;
}

button .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 15px;
    color: #0065FC;    
}

main {
    display: flex;
}

.graybg {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
}

.left-card {
    flex-grow: 2;
    margin-right: 10px;
}

.accommodations-card img {
    width: 200px;
    border-radius: 15px 15px 0 0;   
}

.accommodations-card {
    background-color: white;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem darkgray);
}

.stared {
    color: #0065FC;
}


footer {
    background-color: #F2F2F2;
    padding: 1rem;
}

.footer {
    display: flex;
    text-transform: capitalize;
}

.footer-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer a {
    font-size: .8em;
    line-height: 2;
    text-decoration: none;
    color: black
}